<ion-header>
  <ion-toolbar>
    <bf-search></bf-search>
  </ion-toolbar>
</ion-header>

<ion-content>
  <bf-google-map [pageReadySubject]="readySubject" 
                  [results$]="results$" 
                  [allowRedo$]="allowRedo$" 
                  [radius]="searchService.radiusSubject" 
                  [latlng]="searchService.latlngSubject" 
                  [index]="indexSubject"
                  (redoSearchOutputSubject)="onRedoSearch($event)">
    <bf-slides [results$]="results$" [index]="indexSubject"></bf-slides>
  </bf-google-map>
</ion-content>
