<ion-header>
  <ion-toolbar>
    <bf-search></bf-search>
  </ion-toolbar>
</ion-header>

<ion-content no-bounce>
  <bf-google-map [pageReadySubject]="readySubject" 
                 [allowRedo$]="allowRedo$" 
                 [pad$]="offset$"
                 (redoSearch$)="onRedoSearch($event)"
                 [clicks$]="clickTracker$"
                 (clickTracker$)="onClick($event)">
  </bf-google-map>
</ion-content>

<bf-list #listresults 
        [hidden]="noResults$ | async"
        [containerHeight$]="offsetHeight$"
        (height$)="onHeightChange($event)"
        [clicks$]="clickTracker$"
        (clickTracker$)="onClick($event)">
</bf-list>
