<ion-header>
  <ion-toolbar>
    <app-search></app-search>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-google-map [pageReadySubject]="readySubject" 
                  [results$]="results$" 
                  [allowRedo$]="allowRedo$" 
                  [radius]="searchService.radiusSubject" 
                  [latlng]="searchService.latlngSubject" 
                  [index]="indexSubject"
                  (redoSearchOutputSubject)="onRedoSearch($event)">
    <app-slides [results$]="results$" [index]="indexSubject"></app-slides>
  </app-google-map>
</ion-content>
